<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>

       <!-- <remove name="Documentation"/>  --> 
      </protocols>

    </webServices>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <appSettings>
    <add key="connstring99" value="Data Source=10.99.4.9;Initial Catalog=survey;User ID=survey;Password=survey123" />
    <add key="connstring9" value="Data Source=ATBUKIHQPLP006;Initial Catalog=survey;User ID=sa;Password=sa" />
    <add key="destinationPictures" value="\\10.99.4.9\Survey Pictures\" />
    <!--  
    <add key="destinationPictures" value="C:/wamp64/www/africell/AFRICELL_SURVEY/Pictures/" />
    -->
  </appSettings>

</configuration>
